    <div id="preloader"></div>

    <!--==========================
    Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
        <div class="wow fadeIn">
            <div class="hero-logo">
            </div>

            <h1>Bienvenidos a AroundWorld Travel</h1>
            <h2>Ventas de <span class="rotating">Paquetes Turisticos, Mejores Hoteles, Mejores servicios</span></h2>
            <div class="actions">
            <a href="/app/" class="btn-get-started">Inicio</a>
            <a href="/app/servicios" class="btn-services">Nuestros Servicios</a>
            </div>
        </div>
        </div>
    </section>

    <!--==========================
    Sección de encabezado
    ============================-->
    <header id="header">
        <div class="container">
        <div id="logo" class="pull-left">
            <a href="/app/"><img src="/public/img/Captura_de_pantalla_2022-10-08_174530-removebg-preview.png" alt="" title="" /></img></a>
            <!-- Descomenta abajo si prefieres usar una imagen de texto -->
            <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
            <li class="menu-active menu-has-children"><a href="/app/">Destinos</a>
                <ul>
                <li><a>Luxemburgo</a></li>
                <li><a>Honduras</a></li>
                <li><a>Alemania</a></li>
                <li><a>Suiza</a></li>
                <li><a>Canada</a></li>
                </ul>
            </li>
            <li class="menu-has-children"><a>Quienes somos</a>
                <ul>
                <li><a href="/app/sobre/">Acerca de nosotros</a></li>
                <li><a href="/app/servicios/">Servicios</a></li>
                <li><a href="/app/testimonial/">Reseñas</a></li>
                <li><a href="/app/team/">Equipo</a></li>
                </ul>
            </li>
            <li><a href="/app/reserva/">Reservacion</a></li>
            <li><a href="/app/contact/">Contactenos</a></li>
            <li><a href="/app/entre/">Iniciar Sesion</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Porfolio Section
    ============================-->
    <section id="portfolio">
        <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
            <h3 class="section-title">Nuestros Destinos</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Aproveche de nuestros paquetes familiares obtenga una aventura unica e inolvidable</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://www.milviatges.com/wp-content/uploads/sites/267/2014/05/vianden_Small.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Luxemburgo</h4>
                <span>Castillo de Vianden</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://i0.wp.com/xn--elcaminoespaol-1nb.com/wp-content/uploads/2015/09/TSR_Palacio_Gran_Ducal_2.jpg?ssl=1);" href="./reservacion.html">
                <div class="details">
                <h4>Luxemburgo</h4>
                <span>Palacio Gran Ducal,</span>
                <span>Villa Haute</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://conocedores.com/wp-content/uploads/2019/03/roatan-honduras-22032019.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Honduras</h4>
                <span>West Bay, Roatan</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://visitatlantida.com/wp-content/uploads/2019/12/vista-aerea-de-cayo-chachahuate.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Honduras</h4>
                <span>Cayos Cochinos</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://www.honduras.com/wp-content/uploads/2020/08/Roatab-tours-gumbalimba.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Honduras</h4>
                <span>Gumbalimba Park, Roatan</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://queverenelmundo.com/guias/wp-content/uploads/Miradores-Cataratas-Rin.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Suiza</h4>
                <span>Neuhausen am Rheinfall</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://cdn.maszurich.com/wp-content/uploads/2017/06/que-ver-en-lago-de-zurich.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Suiza</h4>
                <span>lago de zurich</span>
                </div>
            </a>
            </div>
            
            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://interrailero.com/wp-content/uploads/2021/02/que-ver-en-berna.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Suiza</h4>
                <span>Berna</span>
                </div>
            </a>
            </div>


            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://i0.wp.com/thisdarlingworld.com/wp-content/uploads/2020/01/NeuschwansteinCastleGermany-1-1-scaled.jpg?fit=2560%2C1707&ssl=1);" href="./reservacion.html">
                <div class="details">
                <h4>Alemania</h4>
                <span>Neuschwanstein Castle,</span>
                <span>Hohenschwangau</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://www.fundacionaquae.org/wp-content/uploads/2016/03/hamburgo.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Alemania</h4>
                <span>Hamburgo</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/2c/ef/ec.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Canada</h4>
                <span>Lago Moraine,</span>
                <span>Alberta</span>
                </div>
            </a>
            </div>

            <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(https://mindfultravelbysara.com/wp-content/uploads/2015/09/parque-stanley.jpg);" href="./reservacion.html">
                <div class="details">
                <h4>Canada</h4>
                <span>Parque Stanley,</span>
                <span>Vancouver</span>
                </div>
            </a>
            </div>
        </div>
        </div>
    </section>