<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="#" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login con  PHP - Bootstrap 4</title>

        <link rel="stylesheet" href="/public/logins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/logins/estilos.css">
        <link rel="stylesheet" href="/public/logins/plugins/sweetalert2/sweetalert2.min.css">        
        
        <link rel="stylesheet" type="text/css" href="/public/logins/fuentes/iconic/css/material-design-iconic-font.min.css">
        
    </head>
    
    <body>
    
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form validate-form" id="formLogin" action="/app/entre/" method="post">
                <span class="login-form-title">LOGIN</span>
                <br>
                <div class="wrap-input100" data-validate = "Usuario incorrecto">
                    <input class="input100" type="email" id="inputCorreoo" name="usuario" placeholder="Usuario"required>
                    <span class="focus-efecto"></span>
                </div>
                
                <div class="wrap-input100" data-validate="Password incorrecto">
                    <input class="input100" type="password" id="inputContrasenaa" name="password" placeholder="Password" required>
                    <span class="focus-efecto"></span>
                </div>
                
                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                            
                        <button type="submit" class="login-form-btn">CONECTARSE</button>
                        
                        <!-- <button type="submit" name="submit" class="login-form-btn" >CONECTAR</button>-->          </div>
                </div>
                <BR></BR>
                <p class="my-3">
                    <a href="/app/registro/" style="font-size: 18px; font-weight: bold; color: rgb(0, 0, 0)"  class="text-center">Registrarme</a>
                </p>
            </form>
        </div>
    </div>     
        
        
    <script src="/public/logins/jquery/jquery-3.3.1.min.js"></script>    
    <script src="/public/logins/bootstrap/js/bootstrap.min.js"></script>    
    <script src="/public/logins/popper/popper.min.js"></script>    
    <script src="/public/logins/plugins/sweetalert2/sweetalert2.all.min.js"></script>    
    </body>
</html>