<div id="preloader"></div>
  <!--==========================
  Hero Section
  ============================-->
  <section id="hero5">
    <div class="hero5-container">
      <div class="wow fadeIn">
        <div class="hero5-logo">
        </div>

        <h1>Bienvenidos a AroundWorld Travel</h1>
        <h2>Ventas de <span class="rotating">Paquetes Turisticos, Mejores Hoteles, Mejores servicios</span></h2>
        <div class="actions">
          <a href="/app/" class="btn-get-started">Inicio</a>
          <a href="/app/servicios/" class="btn-services">Nuestros servicios</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="/app/"><img src="/public/img/Captura_de_pantalla_2022-10-08_174530-removebg-preview.png" alt="" title="" /></img></a>        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
            <ul class="nav-menu">
            <li class="menu-has-children"><a href="/app/">Destinos</a>
                <ul>
                <li><a>Luxemburgo</a></li>
                <li><a>Honduras</a></li>
                <li><a>Alemania</a></li>
                <li><a>Suiza</a></li>
                <li><a>Canada</a></li>
                </ul>
            </li>
            <li class="menu-has-children"><a>Quienes somos</a>
                <ul>
                <li><a href="/app/sobre/">Acerca de nosotros</a></li>
                <li><a href="/app/servicios/">Servicios</a></li>
                <li><a href="/app/testimonial/">Reseñas</a></li>
                <li  class="menu-active"><a href="/app/team/">Equipo</a></li>
                </ul>
            </li>
            <li><a href="/app/reserva/">Reservacion</a></li>
            <li><a href="/app/contact/">Contactenos</a></li>
            <li><a href="/app/entre/">Iniciar Sesion</a></li>
            </ul>
        </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Somos un equipo capacitado y comprometidos con brindarte lo mejor siempre!</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/public/img/20201008_185648_1_nocrop.JPEG" alt=""></div>
            <h4>Edgardo Guzman</h4>
            <span>Data Scientist</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/public/img/photo1665461946.jpeg" alt=""></div>
            <h4>Cesar Herrera</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/public/img/photo1665462131.jpeg" alt=""></div>
            <h4>David Garcia</h4>
            <span>Systems Analytics</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="/public/img/Lionel_Messi_20180626.jpg" alt=""></div>
            <h4>Lionel Messi</h4>
            <span>CEO AroundWorld Travel</span>
            <div class="social">
              <a href="https://twitter.com/wearemessi?lang=es"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/leomessi/"><i class="fa fa-facebook"></i></a>
              <a href="https://messi.com/politica-privacidad/#:~:text=Para%20ejercer%20tal%20derecho%2C%20por,%2Bsupport%40messi.com."><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/in/lionel-messi-8300b313a/?originalSubdomain=ar"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>