<div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero4">
    <div class="hero4-container">
      <div class="wow fadeIn">
        <div class="hero4-logo">
        </div>

        <h1>Bienvenidos a AroundWorld Travel</h1>
        <h2>Ventas de <span class="rotating">Paquetes Turisticos, Mejores Hoteles, Mejores servicios</span></h2>
        <div class="actions">
          <a href="/app/sobre/" class="btn-get-started">Acerca de nosotros</a>
          <a href="/app/servicios/" class="btn-services">Nuestros servicios</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="/app/"><img src="/public/img/Captura_de_pantalla_2022-10-08_174530-removebg-preview.png" alt="" title="" /></img></a>        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
            <ul class="nav-menu">
            <li class="menu-has-children"><a href="/app/">Destinos</a>
                <ul>
                <li><a>Luxemburgo</a></li>
                <li><a>Honduras</a></li>
                <li><a>Alemania</a></li>
                <li><a>Suiza</a></li>
                <li><a>Canada</a></li>
                </ul>
            </li>
            <li class="menu-has-children"><a>Quienes somos</a>
                <ul>
                <li><a href="/app/sobre/">Acerca de nosotros</a></li>
                <li><a href="/app/servicios/">Servicios</a></li>
                <li class="menu-active"><a href="/app/testimonial/">Reseñas</a></li>
                <li><a href="/app/team/">Equipo</a></li>
                </ul>
            </li>
            <li><a href="/app/reserva/">Reservacion</a></li>
            <li><a href="/app/contact/">Contactenos</a></li>
            <li><a href="/app/entre/">Iniciar Sesion</a></li>
            </ul>
        </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonios</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="/public/img/client-1.jpg" alt=""></div>
            <h4>Charlie Flowers</h4>
            <span>Tigres Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="/public/img/quote_sign_left.png" alt=""></b> La mejor experiencia que hemos tenido viajando! Todo perfecto: traslado, hoteles, vuelos! <small><img src="/public/img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="/public/img/client-2.jpg" alt=""></div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="/public/img/quote_sign_left.png" alt=""></b> La mejor experiencia que hemos tenido viajando! Todo perfecto: traslado, hoteles, vuelos! <small><img src="/public/img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>
      
      </div>

    </div>
  </section>