<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="../../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../public/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../../public/css/style.css" rel="stylesheet">

    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../../public/img/Travel-Passport-icon.png">
    <link rel="stylesheet" href="../../public/plugins/fontawesome-free-6.1.1-web/">
    <title class="fa-regular location-dot">AroundWorld Travel</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>